/* ==UserStyle==
@name           PCPT Dark Mode
@namespace      PCPriceTracker Dark Mode
@version        1.0.3
@description    Dark Mode for PCPriceTracker.in
@author         DuckSleazzy
@homepage       github.com/DuckSleazzy
==/UserStyle== */

body {
    color: #f8f9fa;
    background-color: #1e1e1e;
}

.text-body-secondary, i.text-muted, .nav-link, .navbar-brand, .active, .form-control, .page-item.disabled .page-link, .paginate-button .page-item {
    color: #f8f9fa !important;
}

nav.navbar-light, .form-control, .page-item.disabled .page-link, .paginate-button .page-item {
    background-color: #101010 !important;
}

.active {
    font-weight: 650;
}

.paginate_button.page-item:not(.disabled) .page-link {
    color: #007bff;
    background-color: #101010;
}

.paginate_button.page-item.active .page-link {
    color: #fff; /* Active text color */
    background-color: #007bff; /* Active background color */
}

#price_history_chart {
    filter: invert(1);
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #151515;
}